body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 33%
}

h1 {
  color: red;
}

h3 {
  color: #66BFBF;
}

th {
  text-align: left;
}

/********************************Class Selectors****************************/
.content {
  max-width: 825px;
  margin: auto;
}

.profpic {
  border-radius: 20%;
}

.line {
  border-style: inset;
  border-color: black;
  border-width: thin;
  width: 33%
}
